<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>

<!--	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SQLite" PublicKeyToken="db937bc2d44ff139" culture="neutral" />
				<bindingRedirect oldVersion="1.0.65.0" newVersion="1.0.82.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>-->

	<spring>
		<context>
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">

			<db:provider id="DbProvider"
												 provider="System.Data.SqlClient"
												 connectionString="Server=(localdb)\v11.0;Integrated Security=true;"/>

			<object id="MySessionFactory" type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate32">
				<property name="DbProvider" ref="DbProvider"/>
				<property name="MappingAssemblies">
					<list>
						<!-- defined by modules -->
					</list>
				</property>
				<property name="HibernateProperties">
					<dictionary>
						<entry key="hibernate.connection.provider"
									 value="NHibernate.Connection.DriverConnectionProvider"/>

						<entry key="dialect"
									 value="NHibernate.Dialect.MsSql2008Dialect"/>

						<entry key="connection.driver_class"
									 value="NHibernate.Driver.Sql2008ClientDriver"/>
					</dictionary>
				</property>
			</object>
		</objects>
	</spring>
	
    <system.web>
			<compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

			<httpHandlers>
				<add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
			</httpHandlers>
			<httpModules>
				<add name="Spring" type="SpringModules.Core.Web.WebSupportModule, SpringModules.Core"/>
			</httpModules>
    </system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="Spring"/>
			<add name="Spring" type="SpringModules.Core.Web.WebSupportModule, SpringModules.Core" preCondition="managedHandler"/>
		</modules>
		<handlers>
			<remove name="SpringPageHandler"/>
			<remove name="SpringContextMonitor"/>
			<add name="SpringPageHandler" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
			<add name="SpringContextMonitor" verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
		</handlers>
	</system.webServer>
</configuration>
