<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
		</sectionGroup>
	</configSections>

	<spring>
		<context>
			<!--element tu musi byt aspon prazdny - jinak spring havaruje na duplicate-->
		</context>
	</spring>
	
    <system.web>
			<compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

			<httpHandlers>
				<add verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
			</httpHandlers>
			<httpModules>
				<add name="Spring" type="SpringModules.Core.Web.WebSupportModule, SpringModules.Core"/>
			</httpModules>
    </system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="Spring"/>
			<add name="Spring" type="SpringModules.Core.Web.WebSupportModule, SpringModules.Core" preCondition="managedHandler"/>
		</modules>
		<handlers>
			<remove name="SpringPageHandler"/>
			<remove name="SpringContextMonitor"/>
			<add name="SpringPageHandler" verb="*" path="*.aspx" type="Spring.Web.Support.PageHandlerFactory, Spring.Web"/>
			<add name="SpringContextMonitor" verb="*" path="ContextMonitor.ashx" type="Spring.Web.Support.ContextMonitor, Spring.Web"/>
		</handlers>
	</system.webServer>
</configuration>
