<?xml version="1.0"?>
<configuration>
	<spring>
		<context type="Spring.Context.Support.WebApplicationContext, Spring.Web">
			<resource uri="config://spring/objects"/>
		</context>
		<objects xmlns="http://www.springframework.net">
			<object type="~/Pages/SamplePage.aspx">
				<property name="InjectedText" value="This is injected"/>
				<!--<property name="SystemTime" ref="SampleModule.Time.RandomSystemTime"/>-->
			</object>
		</objects>
	</spring>
</configuration>
